{{ define "main" }}
<style>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
</style>
<div class="splash-small cover"></div>
<div class="ph4-ns ph3">
  <div id="donation-amounts" class="measure-wide f5 dt w-100 f3 center bg-white black">

    <div  class="pt4">
      <h2 class="f4 fw6 tl">Thank you for installing a mesh node!</h2>
    </div>

    <p>
     Please pay the amount below to cover the install cost.
    </p>

    <div class="flex items-center justify-between bt bb">
      <p>Parts and Equipment</p>
      <div class="flex items-center">
        <span class="mr0 db">$</span>
        <span contenteditable="" id="custom" style="min-width: 0.25rem;">200</span>
      </div>
    </div>
    
    <div class="mt2 mb3">
        <span class="f5 tl fw6 mv3 db">
          Please also subscribe me to a monthly donation:
        </span>
        <form>
          <div>
            <div class="mb1">
              <input class="w1" type="radio" id="fifty-monthly" checked="checked"
               name="contact" value="phone" onclick="setSubscription('fifty-monthly')">
              <label class="fw4" for="fifty-monthly">$50</label>
            </div>

            <div class="mb1">
              <input class="w1" type="radio" id="hundred-monthly"
               name="contact" value="mail" onclick="setSubscription('hundred-monthly')">
              <label class="fw4" for="hundred-monthly">$100 (business)</label>
            </div>

            <div>
              <input class="w1" type="radio" id="no-monthly"
               name="contact" value="mail" onclick="setSubscription(undefined)">
              <label class="fw4" for="no-monthly">I do not wish to donate</label>
            </div>
          </div>
        </form>
    </div>

    <div class="flex flex-column items-center-l items-start">

      <div  class="pt1 mt3-l mb3 mw5 f4 sans-serif">
        <input id="payButton" type="submit" value="Pay with card" class="input-reset bw0 w-100 fw5 br3 pa3 white bg-blue ph4 mr5 pointer">
        </input>
      </div>

      <!-- Donation Details -->
      <div class="gray serif pb3 pt2 mw6">
        <p class="f6 lh-copy i tc-l tl measure">
          All donations will go towards our expenses and are tax deductible through our 501(c)(3) fiscal sponsor, <a class="no-underline light-silver" href="https://isoc-ny.org">ISOC-NY</a>.
        </p>
      </div>
    </div>	
  </div>
</div>

  <script src="https://checkout.stripe.com/checkout.js"></script>

  <script>
    var invoiceAmount = 20000; // Cents
    var subscriptionPlan = "fifty-monthly";

    var params = new URL(window.location.href).searchParams;

    // Get invoice amount from URL, or set to default
    var amountFromURL = params.get("a");
    var invoiceAmount = amountFromURL * 100 || invoiceAmount;

    // Update invoice with amount from URL
    var amountInput = document.getElementById("custom");
    amountInput.textContent = invoiceAmount / 100;

    // Connect invoice amount input to invoiceAmount variable
    amountInput.addEventListener("input", function(e) {
      var dollars = e.target.textContent;
      invoiceAmount = dollars * 100;
      amountInput = dollars * 100;
    });

    // Prevent entering non numbers as invoice amount
    amountInput.onkeypress = function(e) {
      if (e.which < 48 || e.which > 57) {
        e.preventDefault();
      }
    };

    // Get subscription from URL
    var planFromURL = params.get("sub") || params.get("s");

    // Select subscription from URL
    if (planFromURL == 100) {
      let planId = "hundred-monthly";
      setSubscription(planId);
      document.getElementById(planId).checked = "checked";
    } else if (planFromURL == "none" || planFromURL == 0) {
      let planId = "no-monthly";
      setSubscription(undefined);
      document.getElementById(planId).checked = "checked";
    }

    function setSubscription(plan) {
      subscriptionPlan = plan;
    }

    // The rest is Stripe stuff

    // Send token from stripe to donate server
    function token(stripeToken) {
      var request = new XMLHttpRequest();

      request.onload = function() {
        if (request.status === 200) {
          window.location = "/pay/thanks";
        } else {
          window.location = "/pay/error";
        }
      };

      request.open("POST", "https://donate2.nycmesh.net/charge", true);
      request.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
      request.send(
        JSON.stringify({
          stripeToken: stripeToken,
          invoiceAmount: invoiceAmount,
          subscriptionPlan: subscriptionPlan
        })
      );
    }

    var stripeConfig = {
      key: "pk_live_srTdi5OfErTSw5BGXqEkY9C1",
      image: "/img/logo.svg",
      locale: "auto",
      billingAddress: true,
      token: token
    };

    // Open Stripe checkout on pay button click
    var handler = StripeCheckout.configure(stripeConfig);
    var payButton = document.getElementById("payButton");
    payButton.addEventListener("click", function(e) {
      if (parseInt(invoiceAmount) && invoiceAmount > 0) {
        handler = StripeCheckout.configure(stripeConfig);
        handler.open({
          name: "NYC Mesh",
          description: "Donation",
          amount: invoiceAmount
        });
      } else {
        alert("Please enter a valid donation amount.");
      }

      e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener("popstate", function() {
      handler.close();
    });
  </script>
{{ end }}
