{{ define "main" }}
<style>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
</style>
<div class="splash-small cover"></div>
<div class="ph4-ns ph3">
  <div id="donation-amounts" class="measure-wide f5 dt w-100 f3 center bg-white black">

    <div  class="pt4">
      <h2 class="f4 fw6 tl">Thank you for installing a mesh node!</h2>
    </div>


    <p id=isSubsidized>
      The NYC Mesh subsidized install costs $<span class="total"></span>. The installer receives $<span class="labor"></span> for labor and $<span class="equipment"></span> helps cover some of the equipment. The total of $<span class="total"></span> per apartment is due on completion.
      <br>
      <br>
      The full cost of equipment averages $240, so if you can afford to, <a href="../pay?a=240">please select that option.</a>
    </p>

    <p id=isNotSubsidized>
      The NYC Mesh total install cost of $<span class="total"></span> is due on completion. The installer receives $<span class="labor"></span> for labor and $<span class="equipment"></span> covers the cost of the equipment.
      <br>
      <br>
      Thank you for choosing to cover the full cost of equipment. Please remember to pay the installer $<span class="labor"></span>.
    </p>

    <div class="flex items-center justify-between bt bb">
      <p>Parts and Equipment</p>
      <div class="flex items-center">
        <span class="mr0 db">$<span contenteditable="" onkeyup="validateCustomAmount()" id="customAmount" class="equipment"></span></span>
      </div>
    </div>
    
    {{ partial "monthlyDonationSelection" . }}

    <div class="flex flex-column items-center-l items-start">

      <div  class="pt1 mt3-l mb3 mw5 f4 sans-serif">
        <input id="payButton" type="submit" value="Pay with card" class="input-reset bw0 w-100 fw5 br3 pa3 white bg-blue ph4 mr5 pointer">
        </input>
      </div>

      <!-- Donation Details -->
      <div class="gray serif pb3 pt2 mw6">
        <p class="f6 lh-copy i tc-l tl measure">
          All donations will go towards our expenses and are tax deductible through our 501(c)(3) fiscal sponsor, <a class="no-underline light-silver" href="https://isoc-ny.org">ISOC-NY</a>.
        </p>
      </div>
    </div>	
  </div>
</div>
  <script src="https://checkout.stripe.com/checkout.js"></script>

  <script>
    // These are constants that should be updated when costs change
    const DEFAULT_ONE_TIME_DONATION_DOLLARS = 110;
    const DEFAULT_LABOR_FEE = 50;
    const COST_OF_UNSUBSIDIZED_EQUIPMENT = 240;

    const url_string = window.location.href
    const url = new URL(url_string);
    // Get one time donation amounts, labor and total from defaults or URL bar
    let amount = url.searchParams.get("a") || DEFAULT_ONE_TIME_DONATION_DOLLARS;
    const labor = url.searchParams.get("l") || DEFAULT_LABOR_FEE;
    const total = parseInt(amount) + labor;

    // Toggle display between the subsidized text and unsubsidized text
    const isSubsidized = amount < COST_OF_UNSUBSIDIZED_EQUIPMENT;
    document.querySelector(isSubsidized ? "#isNotSubsidized" : "#isSubsidized").style.display = 'none';

    // Set one time values correctly in text spans
    const equipmentSpans = document.querySelectorAll('.equipment');
    for (let e = 0; e < equipmentSpans.length; e++) {
      equipmentSpans[e].textContent = amount;
    }
    const laborSpans = document.querySelectorAll('.labor');
    for (let l = 0; l < laborSpans.length; l++) {
      laborSpans[l].textContent = labor;
    }
    const totalSpans = document.querySelectorAll('.total');
    for (let t = 0; t < totalSpans.length; t++) {
      totalSpans[t].textContent = total;
    }

    function token(token) {
      var request = new XMLHttpRequest();

      request.onload = function() {
        if (request.status === 200) {
          window.location = '/pay/thanks'
        } else {
          window.location = '/pay/error'
        }
      }

      request.open('POST', 'https://donate2.nycmesh.net/charge', true);
      request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      request.send(JSON.stringify({
        stripeToken: token,
        donationAmount: amount * 100,
        subscriptionPlan: document.querySelector('input[name="monthlyDonation"]:checked').value
      }));
    }

    function validateCustomAmount() {
      const customAmountElement = document.querySelector('#customAmount');
      const customAmount = customAmountElement.textContent;
      customAmountElement.textContent = customAmount.replace(/\D/g,'');
    }

    var stripeConfig = {
      key: 'pk_live_srTdi5OfErTSw5BGXqEkY9C1',
      image: '/img/logo.svg',
      locale: 'auto',
      zipCode: true,
      token: token
    }

    var handler = StripeCheckout.configure(stripeConfig);

    var payButton = document.getElementById('payButton');
    payButton.addEventListener('click', function(e) {
      amount = document.querySelector('#customAmount').textContent;
      if (parseInt(amount) && amount > 0) {
        handler = StripeCheckout.configure(stripeConfig);
        handler.open({
          name: 'NYC Mesh',
          description: 'Donation',
          amount: amount * 100,
        });
      }

      else {
        alert('Please enter a valid donation amount.')
      }

      e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      handler.close();
    });
  </script>
{{ end }}