{{ if isset .Params "title" }}
	{{ .Scratch.Set "title" .Title }}
	{{ .Scratch.Add "title" " - " }}
{{ end }}
{{ .Scratch.Add "title" .Site.Title }}
{{ $title := .Scratch.Get "title" }}
<!DOCTYPE html>
<html>
<head>
	<title>
		{{ $title }}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {{ partial "css/tachyons.css" . | safeCSS }}
    </style>
    <style>
        {{ partial "css/main.css" . | safeCSS }}
    </style>

	 <!-- Open Graph -->
    <meta property="og:title" content="{{ $title }}">
    {{ if .Description }}
        <meta property="og:description" content="{{ .Description }}">
    {{ else }}
        <meta property="og:description" content="{{ .Summary }}">
    {{ end }}

    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    
    {{ range .Params.tags }}
        <meta property="og:tags" content="{{ . }}">
    {{ end }}
   
    {{ if .IsPage }}
        <meta property="og:type" content="article">
        {{ if .Params.Date }}
            <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
        {{ end }}
    {{ else }}
        <meta property="og:type" content="website">
    {{ end }}
    
    {{ if .Params.thumbnail }}
        <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}">
    {{ else }}
        <meta property="og:image" content="{{ .Site.BaseURL }}img/splash4.jpg">
    {{ end }}
    <!-- End Open Graph -->
</head>
<body class="sans-serif">
    {{ partial "alert" . }}
    {{ partial "header" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer" . }}
</body>
</html>