{{ define "main" }}

{{ $paddingVertical := 2 }}

<!-- SVG Path -->
{{ $activeMin := float (index .Params.dailyActive 0) }}
{{ $activeTotal := float (index .Params.dailyActive 99) }}
{{ $activePercentChange := mul 100 (div (sub $activeTotal $activeMin ) $activeMin) }}
{{ $path := "M -10 110 L 0 102" }}
{{ range $i, $sequence := .Params.dailyActive }}
	{{ $height := 0 }}
	{{ $diff := sub $activeMin (float $sequence) }}
	{{ if gt (sub $activeTotal $activeMin) 0 }}
		{{ $height = sub 100 (mul (div (sub $activeMin (float $sequence)) (sub $activeMin $activeTotal)) 100) }}
		{{ $paddingHeight := add $height $paddingVertical}}
		{{ $path = (print $path " L " (add $i 1)  " " $paddingHeight) }}
	{{ else }}
		{{ $path = "M 0 2 L 110 2" }}
	{{ end }}
{{ end }}
{{ $path = (print $path "L 110 0 L 110 110 L -10 110 z") }}

<!-- SVG Path Requests -->
{{ $requestMin := float (index .Params.dailyRequests 0) }}
{{ $requestTotal := float (index .Params.dailyRequests 99) }}
{{ $requestPercentChange := mul 100 (div (sub $requestTotal $requestMin ) $requestMin) }}
{{ $path2 := "M -10 110 L 0 102" }}
{{ range $i, $sequence := .Params.dailyRequests }}
	{{ if gt (sub $requestTotal $requestMin) 0 }}
		{{ $height := sub 100 (mul (div (sub $requestMin (float $sequence)) (sub $requestMin $requestTotal)) 100) }}
		{{ $paddingHeight := add $height $paddingVertical}}
		{{ $path2 = (print $path2 " L " (add $i 1)  " " $paddingHeight) }}
	{{ else }}
		{{ $path2 = "M 0 2 L 110 2" }}
	{{ end }}
{{ end }}
{{ $path2 = (print $path2 "L 110 0 L 110 110 L -10 110 z") }}

<!-- SVG Path New Nodes -->
<!-- {{ $newNodeMin := float (index .Params.dailyRequests 0) }}
{{ $newNodeTotal := float (index .Params.dailyRequests 99) }}
{{ $newNodePercentChange := (sub 100 (mul (div $newNodeMin $newNodeTotal) 100)) }}
{{ $path3 := "M 0 100" }}
{{ range $i, $sequence := .Params.dailyRequests }}
	{{ $height := sub 100 (mul (div (sub $newNodeMin (float $sequence)) (sub $newNodeMin $newNodeTotal)) 100) }}
	{{ $path3 = (print $path2 " L " (add $i 1)  " " $height) }}
{{ end }}
{{ $path2 = (print $path2 " L 110 110 L 0 110 z") }} -->

<!-- Hacky way to do vertical lines -->
{{ $intervalCount := 0 }}
{{ if eq .File.TranslationBaseName "1w"}}
{{ $intervalCount = 8 }}
{{ end }}
{{ if eq .File.TranslationBaseName "4w"}}
{{ $intervalCount = 5 }}
{{ end }}
{{ if eq .File.TranslationBaseName "1y"}}
{{ $intervalCount = 13 }}
{{ end }}

<section class="ph4-ns ph3 pv4-l pv3 bg-near-white">
	<div class="mw8 center ">
		<div class="flex items-center justify-between">
			<h1 class="mv0 f3 fw7">
				{{ .Title }}
			</h1>
			<div>
				<a href="/stats/1w"><span class="ml1 f6 {{ if eq .File.TranslationBaseName "1w" }}
					fw7 black
					{{ else }}
					mid-gray
					{{ end }}">1W</span></a>
				<a href="/stats/4w"><span class="ml1 f6 {{ if eq .File.TranslationBaseName "4w" }}
					fw7 black
					{{ else }}
					mid-gray
					{{ end }}">4W</span></a>
				<a href="/stats/1y"><span class="ml1 f6 {{ if eq .File.TranslationBaseName "1y" }}
					fw7 black
					{{ else }}
					mid-gray
					{{ end }}">1Y</span></a>
				<a href="/stats"><span class="ml1 f6 {{ if eq .File.TranslationBaseName "_index" }}
					fw7 black
					{{ else }}
					mid-gray
					{{ end }}">ALL</span></a>
			</div>
		</div>
		<div class="mv4-l mv3 shadow-card bg-white flex flex-wrap">
			<article class="w-50-l w-100">
				<div class="bg-white pa3">
					<div class="mb3">
						<h3 class="f5 fw6 mv0">Active Nodes</h3>
						<div class="mt1 flex items-center">
							<h2 class="f4 mv0 red">
								{{ lang.NumFmt 0 $activeTotal }}
							</h2>
							<span class="percentBox mh2 br1 dark-green f7 fw7">
								+{{ lang.NumFmt 0 $activePercentChange }}%
							</span>
						</div>
					</div>

					<div class="flex">
						<div class="w-100 flex flex-column">
							<div class="w-100 h5 relative">
								<div class="absolute absolute--fill flex justify-between bb b--light-gray">
									{{ range $i, $sequence :=  (seq $intervalCount) }}
									<div class="br b--light-gray h-100"></div>
									{{ end }} 
								</div>
								<svg class="absolute absolute--fill h-100 w-100 overflow-hidden" viewBox="0 0 100 104" preserveAspectRatio="none">
								  <path d="{{ $path }}"
								        fill="rgba(255,59,48,0.125)"
								        stroke="rgb(255,59,48)"
								        stroke-width="2"
								        stroke-linejoin="round"
								        vector-effect="non-scaling-stroke">
								  </path>
								</svg>
							</div>
							<div class="flex items-center justify-between f7 gray pt2">
								<time>{{ .Params.startDate }}</time>
								<time>{{ .Params.endDate }}</time>
							</div>
						</div>

						<!-- TODO: Move these to svg -->
						<div class="flex flex-column h5 justify-between f7 near-black">
							<span class="w-100 tl gray pl1">
								{{ lang.NumFmt 0 $activeTotal }}
							</span>
							<span class="w-100 tl gray pl1">
								{{ lang.NumFmt 0 $activeMin }}
							</span>
						</div>
					</div>
				</div>
			</article>

			<article class="w-50-l w-100">
				<div class="bg-white pa3">
					<div class="mb3">
						<h3 class="f5 fw6 mv0">Node Requests</h3>
						<div class="mt1 flex items-center">
							<h2 class="f4 mv0 gray">
								{{ lang.NumFmt 0 $requestTotal }}
							</h2>
							<span class="percentBox mh2 br1 dark-green f7 fw7">
								+{{ lang.NumFmt 0 $requestPercentChange }}%
							</span>
						</div>
					</div>

					<div class="flex">
						<div class="w-100 flex flex-column">
							<div class="w-100 h5 relative">
								<div class="absolute absolute--fill flex justify-between bb b--light-gray">
									{{ range $i, $sequence :=  (seq $intervalCount) }}
									<div class="br b--light-gray h-100"></div>
									{{ end }} 
								</div>
								<svg class="absolute absolute--fill h-100 w-100 overflow-hidden" viewBox="0 0 100 104" preserveAspectRatio="none">
								  <path d="{{ $path2 }}"
								        fill="rgba(170,170,170,0.125)"
								        stroke="rgb(170,170,170)"
								        stroke-width="2"
								        stroke-linejoin="round"
								        vector-effect="non-scaling-stroke">
								  </path>
								</svg>
							</div>
							<div class="flex items-center justify-between f7 gray pt2">
								<time>{{ .Params.startDate }}</time>
								<time>{{ .Params.endDate }}</time>
							</div>
						</div>

						<!-- TODO: Move these to svg -->
						<div class="flex flex-column h5 justify-between f7 near-black">
							<span class="w-100 tl gray pl1">
								{{ lang.NumFmt 0 $requestTotal }}
							</span>
							<span class="w-100 tl gray pl1">
								{{ lang.NumFmt 0 $requestMin }}
							</span>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>
{{ end }}