<footer class="ph4-ns ph3 pv4 bg-near-black">
	<div class="flex justify-between mw8 center">
		<a href="/" title="Home" class="f3-ns f4 ttu fw7 white nowrap flex items-center">
            <img src="/img/logo.svg" class="h2 mr2" /> 
            <span class="f4">NYC Mesh</span>
        </a>
		<nav class="f5 flex flex-wrap justify-center items-center mhn2">
			<a href="/map" class="mh2 white">Map</a>
			<a href="/blog" class="mh2 white">Blog</a>
			<a href="/faq" class="mh2 white">FAQ</a>
			<a href="https://docs.nycmesh.net" class="mh2 white">Docs</a>
			<a href="/support" class="mh2 white">Support</a>
        	<a href="/join" class="mh2 blue fw6">Join</a>
        	<a href="/donate" class="mh2 gold fw6">Donate</a>
		</nav>
	</div>
</footer>