<header class="pa3 sans-serif bg-white">
	<div class="mw8 center w-100 flex flex-row-ns flex-column items-center justify-between">
		<a href="/" title="Home" class="mb2 mb0-ns f3 ttu fw7 black nowrap flex flex-row-ns flex-column items-center">
                        <img src="/img/logo.svg" class="h2 mr3-ns mb0-ns mb2" /> 
                        NYC Mesh
                </a>
                <nav class="f4 flex flex-wrap justify-start">
                	<a href="/map" class="black">Map</a>
                	<a href="/blog" class="ml3 black">Blog</a>
                	<a href="/docs/faq" class="ml3 black">FAQ</a>
                        <div class="nowrap">
                        	<a href="/join" class="ml3 blue fw6">Join</a>
                        	<a href="/#donate" class="ml3 gold fw6">Donate</a>
                        </div>
                </nav>
	</div>
</header>