<header class="pa3 sans-serif bg-white">
	<div class="mw8 center w-100 flex items-center justify-between">
		<a href="/" title="Home" class="f3 ttu fw7 black nowrap mr3">NYC Mesh</a>
        <nav class="ttu f4 flex flex-wrap justify-end">
        	<a href="/map" class="black">Map</a>
        	<a href="/blog" class="ml3 black">Blog</a>
        	<a href="/faq" class="ml3 black">FAQ</a>
        	<a href="/#join" class="ml3 blue fw7">Join</a>
        	<a href="/#donate" class="ml3 gold fw7">Donate</a>
        </nav>
	</div>
</header>