<header class="pa3 bg-white">
	<div class="mw8 center w-100 flex items-center justify-between relative">
		<div class="flex">
                <a href="/" title="Home" class="f3-ns f4 fw7 black">
                    <div class="nowrap flex items-center">
                        <div class="h2 w2">
                            {{ partial "logo.svg" . }}
                        </div>
                        <span class="f4 ml2">NYC Mesh</span>
                    </div>
                </a>
        </div>
         <div role="button" class="z-9999 hideDropdown h2 w2 flex items-center justify-center pointer" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
        <div role="button" class="z-9999 showDropdown bg-white h2 w2 flex items-center justify-center pointer" tabindex="0" onblur="setScroll(true)" onfocus="setScroll(false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
        </div>
        <nav class="f5 flex items-center dropdown-content pointer-events-none bg-white">
		<a href="/map" class="ml3-ns black pointer-events">Map</a>
        <a href="https://wiki.mesh.nycmesh.net/books/introduction/page/frequently-asked-questions" class="ml3-ns black pointer-events">FAQ</a>
        <a href="https://wiki.mesh.nycmesh.net" class="ml3-ns black pointer-events">Docs/Wiki</a>
        <a href="/blog" class="ml3-ns black pointer-events">Blog</a>
        <a href="https://nycmesh.creator-spring.com/" class="ml3-ns black pointer-events">Merch</a>
        <a href="/support" class="ml3-ns black pointer-events green fw5">Get Support</a>
        <a href="/donate" class="ml3-ns black pointer-events">Donate</a>
        <a href="/join" class="ml3-ns black pointer-events blue fw5">Get Connected</a>
        </nav>
	</div>
    <script>
        function setScroll(enabled) {
            enabled ?
                document.body.classList.remove('noscroll')
                :
                document.body.classList.add('noscroll')
        }
    </script>
</header>
