<section class="">
	<div class="absolute dn">
		<div class="relative z-2">
			{{ partial "home/circle" (dict "context" . "diameter" 12 "color" "rgba(255,255,255,0.2)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 24 "color" "rgba(255,255,255,0.2)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 36 "color" "rgba(255,255,255,0.2)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 48 "color" "rgba(255,255,255,0.2)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 60 "color" "rgba(255,255,255,0.2)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 72 "color" "rgba(255,255,255,0.2)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 84 "color" "rgba(255,255,255,0.2)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 96 "color" "rgba(255,255,255,0.2)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 108 "color" "rgba(255,255,255,0.2)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 120 "color" "rgba(255,255,255,0.2)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 132 "color" "rgba(255,255,255,0.2)")  }}
		</div>
	</div>
	<div class="relative z-5">
		<div class="bg-white ph3 pv5-ns pv4">
			<div class="mw8 center">
				<div class="man3 flex flex-wrap tl">
					<div class="w-third-l w-50-m w-100 pa3">
						<span class="f2 db">🚀</span>
						<h2 class="mv3 f4 fw5">Fast</h2>
						<p class="mb0 mt2 lh-copy tl dark-gray">Our typical speeds are around 50Mbps. That's enough for ten people streaming Netflix at the same time.</p>
					</div>
					<div class="w-third-l w-50-m w-100 pa3">
						<span class="f2 db">🤝</span>
						<h2 class="mv3 f4 fw5">Affordable</h2>
						<p class="mb0 mt2 lh-copy tl dark-gray">
							Committed to connecting underserved communities and eliminating cost and geography as barriers to internet access. 
						</p>
					</div>
					<div class="w-third-l w-50-m w-100 pa3">
						<span class="f2 db">🙈</span>
						<h2 class="mv3 f4 fw5">Private</h2>
						<p class="mb0 mt2 lh-copy tl dark-gray">We are a neutral network and do not monitor, collect, store or block any user data or content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>