<section id="donate" class="sans-serif bt bb b--light-gray bg-white pv4 ph3 f4 near-black">
  <h1 class="lh-title f2-ns f3 fw7 tc-ns">We need your help.</h1>
  <p class="lh-copy measure center dark-gray f4-ns f5">We are always in need of new hardware to extend the network. If you can afford to help, please do!</p>
  <div>
    <ul class="list flex-ns pa0 justify-center center overflow-auto t">
      <li class="fl pa3-ns pa2 nowrap">
        <input id="monthly" type="radio" class="hidden" name="donation-type" value="monthly" checked="checked">
        <label for="monthly" class="pointer h2 flex items-center">
          <div class="pointer dib bg-near-white ba bw1 b--light-gray h2 w2 tc v-mid br2 check"></div>
          <h2 class="pa2 dib f4 fw5">Monthly Donation <span class="f5 b light-silver pointer">?</span></h2>
        </label>
      </li>
      <li class="fl  pa3-ns pa2 nowrap">
        <input id="one-time" type="radio" class="hidden" name="donation-type" value="one-time">
        <label for="one-time" class="pointer flex h2 items-center">
          <div class="pointer dib bg-near-white ba bw1 b--light-gray h2 w2 br2 check"></div>
          <h2 class="pa2 dib f4 fw5">One-time Donation</h2>
        </label>
      </li>
    </ul>

    <div class="overflow-auto mw6 center tc fw5 near-black">
      <div class="fl w-third pa3-ns pa2">
        <input id="five" type="radio" class="hidden" name="donation" value="5">
        <label for="five">
          <div class="pointer pa3 bg-near-white ba bw1 b--light-gray br2">
            $5
          </div>
        </label>
      </div>
      <div class="fl w-third pa3-ns pa2">
        <input id="ten" type="radio" class="hidden" name="donation" value="10">
        <label for="ten">
          <div class="pointer pa3 bg-near-white ba bw1 b--light-gray br2">
            $10
          </div>
        </label>
      </div>
      <div class="fl w-third pa3-ns pa2">
        <input id="twenty" type="radio" class="hidden" name="donation" value="20">
        <label for="twenty">
          <div class="pointer pa3 bg-near-white ba bw1 b--light-gray br2">
            $20
          </div>
        </label>
      </div>
      <div class="fl w-third pa3-ns pa2">
        <input id="fifty" type="radio" class="hidden" name="donation" value="50">
        <label for="fifty">
          <div class="pointer pa3 bg-near-white ba bw1 b--light-gray br2">
            $50
          </div>
        </label>
      </div>
      <div class="fl w-third pa3-ns pa2">
        <input id="hundred" type="radio" class="hidden" name="donation" value="100">
        <label for="hundred">
          <div class="pointer pa3 bg-near-white ba bw1 b--light-gray br2 fw5">
            $100
          </div>
        </label>
      </div>
      <div class="fl w-third pa3-ns pa2">
        <input id="custom" type="radio" class="hidden" name="donation" value="custom">
        <label for="custom">
          <!-- <div class="pointer pa3 bg-near-white ba bw1 b--light-gray br2">
            $100
          </div> -->
          <input placeholder="$" value="$" type="text" class="relative input-reset fw5 tc w-100 bg-near-white ba bw1 b--light-gray br1 pa3"></input>
        </label>
      </div>
    </div>
    <div class="mw6 center tc">
      <div class="pv3 ph3-ns ph2 w-third-ns w-100 center">
        <button class="w-100 br2 dib pa0 ma0 bn bg-gold">
          <a class="nowrap dib tc-ns pa3 white br2 link ttu f4-ns f5 fw6" title="Join" href="./#donate">
            Donate
          </a>
        </button>
      </div>
    </div>
    <p class="lh-copy ph2 f5 serif gray measure center">
      All funds will go towards operational expenses and are sponsored by our fiscal partner, ISOC-NY.
    </p>
  </div>
</section>