<section class="sans-serif bg-purple purple-gradient white pv4 ph3 ">
  <div class="f4 lh-copy center ">
    <div class="flex center flex-row-ns flex-column  items-center-ns justify-center-ns">
      <img class="h5 w5 dn db-l pa4" src="/img/meetup.png"></img>
      <div class="measure f4-ns f5">
        <h1 class="lh-title f2-ns f3 fw7">Get involved!</h1>

        <p>Our next meetup is on <time datetime="2017-02-07 19:00" class="b ts">February 7, 7:00 - 8:30 PM</time>.</p>
        <p>We will discuss ways you can expand the network. We need help installing on rooftops, organizing neighborhoods and getting funding. Come along and see how your skills can be best put to use.</p>
        <p>People from all backgrounds are welcome.</p>
        <p><a class="fw6 no-underline light-blue" href="https://www.meetup.com/nycmesh/events/237372981/">Register on Meetup ></a></p>
      </div>
    </div>
  </div>
</section>