<section class="ph4-ns ph3 pb4 near-black">
  <div class="measure-wide center flex flex-column items-start">
    <h3 class="tc black">Get involved!</h3>
    <p class="lh-copy">We are a community of volunteers and welcome people of all backgrounds.</p>
    <ul class="w-100 list ma0 pa0 flex flex-wrap-l flex-row-l flex-column items-start-l justify-between mw7 center man3 pv3">
      <li class="pa0 mb3 w-50-l ph3">
        <a href="/join">
          <h3 class="flex items-center blue">
            <img class="h1 w1 mr2 white" src="/img/icons/radio.svg" />
            Install a Node
          </h3>
        </a>
        <p><a href="/join">Request an install</a> or <a href="">DIY.</a></p>
      </li>
      <li class="pa0 mb3 w-50-l ph3">
        <a href="/donate">
          <h3 class="flex items-center blue">
            <img class="h1 w1 mr2 white" src="/img/icons/gift.svg" />
            Make a Donation
          </h3>
        </a>
        <p>Help expand our network!</p>
      </li>
      <li class="pa0 mb3 w-50-l ph3">
        <a href="https://slack.nycmesh.net">
          <h3 class="flex items-center blue">
            <img class="h1 w1 mr2 white" src="/img/icons/slack.svg" />
            Join our Slack
          </h3>
        </a>
        <p>Chat with the community.</p>
      </li>
      <li class="pa0 mb3 w-50-l ph3">
        <a href="https://meetup.com/nycmesh">
          <h3 class="flex items-center blue">
            <img class="h1 w1 mr2 white" src="/img/icons/users.svg" />
            Come to our Meetups
          </h3>
        </a>
        <p>Everybody is welcome!</p>
      </li>
      <li class="pa0 mb3 w-50-l ph3">
        <h3 class="flex items-center blue">
          <img class="h1 w1 mr2 white" src="/img/icons/mail.svg" />
          Follow our Newsletter
        </h3>
        <p>Get updates of our progress.</p>
      </li>
      <li class="pa0 mb3 w-50-l ph3">
        <a href="/leaflet">
          <h3 class="flex items-center blue">
            <img class="h1 w1 mr2 white" src="/img/icons/send.svg" />
            Spread the Word
          </h3>
        </a>
        <p>We have materials for you to use.</p>
      </li>
    </ul>
  </div>
</section>