<section class="relative bg-white z-5 pv5 ph3">
	<div class="mw8 center flex flex-column">
		<h2 class="f3 fw6 tc">How it works</h2>

		<div class="mv4-ns mv3 lh-copy flex-ns items-center">
			<div class="w-40-ns">
				<img src="/img/how1.jpg" class="br2" />
			</div>

			<div class="w-60-ns">
				<p class="mh4-ns measure">
					A small antenna on your building roof connects wirelessly to other "nodes" in your neighborhood.
				</p>
			</div>
		</div>

		<div class="mv4-ns mv3 lh-copy flex-ns items-center flex-row-reverse">
			<div class="w-40-ns">
				<img src="/img/how2.jpg" class="br2" />
			</div>

			<div class="w-60-ns">
				<p class="mh4-ns tr-ns measure">
					Together, these connections form a <span class="nowrap">city-wide</span> mesh network.
				</p>
			</div>
		</div>

		<div class="mv4-ns mv3 lh-copy flex-ns items-center">
			<div class="w-40-ns">
				<img src="/img/how3.jpg" class="br2" />
			</div>

			<div class="w-60-ns">
				<p class="mh4-ns measure">
					The network is connected directly to the internet at a major internet exchange point.
				</p>
			</div>
		</div>
	</div>
</section>