<section class="relative z-5 bg-white ph3">
	<div
		class="mw8 center pv5-l pv4 flex flex-row-reverse-l flex-column justify-between items-center-ns"
	>
		<div class="w-50-l w-100 pl4-l mw-auto-l mw6">
			<div
				class="aspect-ratio aspect-ratio--16x9 bg-near-white"
			>
				<div
					class="aspect-ratio--object cover br2 shadow"
					style="background:url(/img/how.jpg) center;"
				></div>
			</div>
		</div>

		<div class="pr3-ns flex flex-column items-start-l items-center w-50-l w-100">
			<h2 class="f4 fw5 db mt0-l mt4 mb3 ttu">How it works</h2>
			<ol
				class="tl ma0 pa0 list lh-copy f4-l f5"
			>
				<li class="mv3 flex">
					<div
						class="h1 w1 flex items-center justify-center br-pill f7 dark-gray fw6 mt1 bg-light-gray"
						style="min-width: 1.25rem; min-height: 1.25rem;"
					>
						1
					</div>
					<div class="ml3">
						<p class="dark-gray mv0 f5 measure-narrow">
							An antenna on your roof connects wirelessly to other
							members in your neighborhood.
						</p>
					</div>
				</li>
				<li class="mv3 flex">
					<div
						class="h1 w1 flex items-center justify-center br-pill f7 dark-gray fw6 mt1 bg-light-gray"
						style="min-width: 1.25rem; min-height: 1.25rem;"
					>
						2
					</div>
					<div class="ml3">
						<p class="dark-gray mv0 f5 measure-narrow">
							Together, these individual connections form a
							resilient city-wide network.
						</p>
					</div>
				</li>
				<li class="mv3 flex">
					<div
						class="h1 w1 flex items-center justify-center br-pill f7 dark-gray fw6 mt1 bg-light-gray"
						style="min-width: 1.25rem; min-height: 1.25rem;"
					>
						3
					</div>
					<div class="ml3">
						<p class="dark-gray mv0 f5 measure-narrow">
							The network is connected directly to the internet
							backbone.
						</p>
					</div>
				</li>
			</ol>
			<a href="/faq" class="blue f5 fw5 mt3 self-start tl">Learn more →</a>
		</div>
	</div>
</section>