<section id="join" class="black bg-white near-black center pv3 ph3-ns ph2 sans-serif">
  <div class="mw9 center f4 ma3 flex flex-row-l flex-column items-center justify-center">

    <div class="measure f4 ma3-ns pa3-ns ph2 lh-copy center">
      <h1 class="lh-title f2-ns f3 fw7">Want to join the mesh?</h1>
      <p class="f4-ns f5">
        Let us know where you would like to install a node.
        We will reach out soon to discuss installation.
        If you are tech savvy, consider <a class="blue no-underline" href="/download">installing a node yourself</a>.
      </p>
      <p class="mid-gray f5 measure  lh-copy">Please read our <a class="blue no-underline" href="/faq">FAQ</a> and the <a class="blue no-underline" href="./doc/ncl.pdf">Network Commons License</a> before filling in the Join form.</p>
    </div>

    <form class="measure f4-ns f5 bg-white br2 ma3-ns shrink-1 center">
      <div class="mid-gray overflow-auto">
        <div class="fl w-50-l w-100 pa3-ns pa2">
          <label for="name" class="f5 b db mb2">Name</label>
          <input placeholder="Your Name" type="text" class="input-reset  black w-100 bg-near-white ba bw1 b--light-gray br1 pa2"></input>
        </div>
        <div class="fl w-50-l w-100 pa3-ns pa2">
          <label for="phone" class="f5 b db mb2">Phone</label>
          <input placeholder="(212) 123-4567" type="tel" class="input-reset  w-100 black bg-near-white ba bw1 b--light-gray br1 pa2"></input>
        </div>
        <div class="fl w-50-l w-100 pa3-ns pa2">
          <label for="email" class="f5 b db mb2">Email</label>
          <input placeholder="you@example.com" type="email" class="input-reset  w-100 black bg-near-white ba bw1 b--light-gray br1 pa2"></input>
        </div>
        <div class="fl w-50-l w-100 pa3-ns pa2 overflow-hidden">
          <label for="panoramas" class="f5 b db mb2 nowrap">View Panorama (optional) <span class="pointer light-silver">?</span></label>
          <input tabindex="0" type="file" name="panoramas" id="panoramas" class="inputfile" />
          <label for="panoramas" class="dib pointer gray bg-near-white ba bw1 b--light-gray br1 pa2 nowrap truncate"><span>Choose an image</span></label>
        </div>
        <div class="fl w-100 pa3-ns pa2">
          <label for="address" class="f5 b db mb2">Street Address</label>
          <input id="autocomplete" placeholder="285 Fulton Street, New York, NY 10007" type="text" class="input-reset  w-100 black bg-near-white ba bw1 b--light-gray br1 pa2"></input>
        </div>
      </div>

      <div class="pv3 flex items-center justify-between">
        <div>
          <div class="h1 pa3 flex items-center">
            <input type="checkbox"></input>
            <p class="ml2 mid-gray">I agree to the <a class="blue no-underline" href="./doc/ncl.pdf">Network Commons License</a></p>
          </div>

          <div class="h1 pa3 flex items-center">
            <input type="checkbox"></input>
            <p class="ml2 mid-gray">I might have roof access!</p>
          </div>
        </div>

        <input class="white bw0 db pa3 ttu fw5 pointer mr3 br2 bg-blue w4 fw6 dark-gray" type="submit" value="Join">
      </div>

    </form>
  </div>
</section>