<section class="sans-serif bg-white">
	<div class="splash1 cover flex justify-center pa6 sans-serif">
	</div>
	<div class="ph3 f4 lh-copy pv4">

		<!-- Buttons -->
		<div class="flex justify-center pv3">
      <a class="button w4 br2 tc ph3 pv2 bg-blue f4 fw7 white ttu ma3"  href="#join">
        Join
      </a>
	    <a class="button w4 br2 tc ph3 pv2 bg-gold f4 fw7 white ttu ma3" href="#donate">
        Donate
      </a>
	  </div>

	  <!-- Intro -->
	  <div class="measure-wide center">
			<p>
				NYC Mesh is a community owned network. <a href="#join">Join our network</a> to replace your current internet connection.
			</p>
			<p>
				Our network consists of Wi-Fi router "nodes," "supernodes" and fiber spread throughout the city. The network connects directly to the internet backbone, so we do not rely on an ISP. All of our network nodes cooperate in the distribution of data, and the network can also function independently in case of emergencies or internet shutdown.
			</p>
			<p>
				NYC Mesh is a neutral network that does not block or discriminate content. NYC Mesh does not collect, store, monitor, or log any user traffic or content that passes through our network.
			</p>
			<p>
				We can connect whole buildings by wireless for speeds between 80 Mbps up to 1 Gbps, or by fiber at 20 Gbps (20,000 Mbps). The buildings we are currently planning to connect include co-ops, a school and housing association buildings. Fiber involves an install fee and a monthly rental. For a quote, <a href="mailto:contact@nycmesh.net">email us</a>.
			</p>
			<p>
				If you are a network operator, please consider <a href="/peering">peering with our open network</a> to provide bandwidth!
			</p>
		</div>
	</div>
</section>