<section class="pv6-l pv5 ph3">
	<div class="absolute overflow-hidden absolute--fill">
		<div class="relative z-1">
			{{ partial "home/circle" (dict "context" . "diameter" 12 "color" "rgba(0,122,255,0.05)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 24 "color" "rgba(0,122,255,0.05)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 36 "color" "rgba(0,122,255,0.05)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 48 "color" "rgba(0,122,255,0.05)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 60 "color" "rgba(0,122,255,0.05)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 72 "color" "rgba(0,122,255,0.05)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 84 "color" "rgba(0,122,255,0.05)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 96 "color" "rgba(0,122,255,0.05)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 108 "color" "rgba(0,122,255,0.05)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 120 "color" "rgba(0,122,255,0.05)")  }}
			{{ partial "home/circle" (dict "context" . "diameter" 132 "color" "rgba(0,122,255,0.05)")  }}
		</div>
	</div>
	<div class="relative z-5 flex flex-column justify-center items-start mw8 center">
		<h1 class=" mv0 measure-narrow lh-title f2-ns f3 fw6">A new way to access the internet</h1>
		<p class="measure-narrow f3-ns f4 lh-copy mv4">Join our community-owned network to replace your internet service provider.</p>
		<a href="/join" class="pa3 white bg-red br2 fw6 f6 ttu shadow mt4-ns mt3">Get Connected</a>
	</div>
</section>