<section id="updates" class="bg-near-white pv4 ph4-ns ph3">
    <div class="measure-wide-m mw8-l center">
      <div class="flex flex-row-l flex-wrap mhn3">
      <!-- Blog -->
      <div class="w-25-l w-50-m ph3 overflow-auto">
        <a href="/blog" class="black">
          <h2 class="fw5 f3">
            Blog
          </h2>
        </a>
        <ul class="list pa0 ma0">
          {{ range first 3 (where .Data.Pages "Section" "blog") }}
            <li class="mb4">
              <time class="silver lh-title">
                {{ .Date.Format "January 2, 2006" }}
              </time>
              <a href="{{ .RelPermalink }}" class="db mv1 fw5 no-underline lh-title">
                  {{ .Title }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

      <!-- Press -->
       <div class="w-25-l w-50-m ph3 overflow-auto">
        <a href="/press" class="black">
          <h2 class="fw5 f3">
            Press
          </h2>
        </a>
        <ul class="list pa0 ma0">
          {{ range first 3 (where .Data.Pages "Section" "press") }}
            <li class="mb4">
              <p class="silver lh-title mv0">
                {{ .Params.Publication }}
              </p>
              <a href="{{ .Params.Link }}" class="db mv1 fw5 no-underline lh-title">
                {{ .Title }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

      <!-- Videos -->
      <div class="w-50-l w-100 ph3">
        <h2 class="fw5 f3">
          Videos
        </h2>
        <ul class="flex list pa0 mv0 mhn2">
          {{ range first 2 (where .Data.Pages "Section" "videos") }}
            <li class="flex-1 mh2">
              <a class="mt1 db " href="{{ .Params.Link }}">
                <img class="w-100 ma0 pa0 br2 mb1" src="{{ .Params.Image }}"></img>
              </a>
              <a href="{{ .Params.Link }}" class="db mb1 fw5 no-underline lh-title">
                {{ .Title }}
              </a>
              <time class="silver lh-title">
                {{ .Date.Format "January 2, 2006" }}
              </time>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>