{{ define "main" }}
{{ $progressFloat := float .Params.progress }}
{{ $goalFloat := float .Params.goal }}
{{ $remainingDonations := (div (sub $goalFloat $progressFloat) 20)}}
{{ $percentComplete := mul (div $progressFloat $goalFloat) 100 }}
<div class="splash-small cover"></div>
<div class="ph4-ns ph3">
  <div id="donation-amounts" class="measure-wide f5  dt w-100 f3 center bg-white black">

    <div  class="mh3 center pt4">
      <h1 class="f3 fw6 tl">{{ .Description }}</h1>
      <p class="dark-gray lh-copy">We rely primarily on member contributions to continue to support, maintain, upgrade, and expand our network.</p>
    </div>
    
    <div class="mt2 mb3 tc f3 fw5 center flex flex-row-l flex-column justify-between-l items-center-l">
      <div class="flex flex-column mv3">
        <span class="f5 tl fw6">
          Choose a monthly amount:
        </span>
        <div class="flex items-center justify-center-l mt3">
          <div id="twenty-monthly" onclick="setAmount('twenty-monthly')" class="button  pa0 br0 ba b--moon-gray ph3 pv3 pointer hover-b--blue">
            <span class="ma0 fw4">$20</span>
          </div>
          <div class="w1">
          </div>
          <div id="plan_FN3hkJAGUgYKpX" onclick="setAmount('plan_FN3hkJAGUgYKpX')" class="button  pa0 br0 ba b--blue bg-blue-50 ph3 pv3 pointer">
            <span class="ma0 fw4">$30</span>
          </div>
          <div class="w1">
          </div>
          <div id="fifty-monthly" onclick="setAmount('fifty-monthly')" class="button  pa0 br0 ba b--moon-gray ph3 pv3 pointer hover-b--blue">
            <span class="ma0 fw4">$50</span>
          </div>
        </div>
      </div>

      <div class="flex flex-column items-end-l items-start mv3">
        <span class="f5 tr-l tl fw6">
          Or make a one time donation:
        </span>
        <div class="flex items-center justify-center mt3">
          <input id="custom" type="number"  min="0" onfocus="setAmount('custom')" style="min-width: 128px; height: 60px" maxlength="7" autocomplete="off" name="donation-amount" placeholder="$" class="fw4 pa0 ma0 f3 w3 db ba b--moon-gray pa3 br0 pointer">
        </div>
      </div>
    </div>

    <div class="flex flex-column items-start">

      <div  class="pt1 mb3 f5 w-auto-ns w-100">
        <input id="payButton" type="submit" value="Donate with card" class="input-reset bw0 fw6 br2 pa3 white bg-blue ph4 w-auto-ns w-100 pointer">
        </input>
      </div>

      <details>
        <summary class="gray f6 noselect pointer">Donate with check</summary>
          <p>Checks should be made out to</p>
          <p class="b">
            NYC Mesh
          </p>
          and mailed to:
          <p class="b">
            NYC Mesh<br />
            91 East 3rd St<br />
            apt 35<br />
            New York, NY 10003
          </p>
      </details>

      <div class="mt2 gray mw6 measure f6 lh-copy tl">
        <p>
          PayPal donations can be sent to paypal@nycmesh.net
        </p>
        <p>
          Please <a href="../payquery/">fill in the support form</a> for donation questions or changes to your subscription.
        </p>
        <p>
          NYC Mesh is a 501(c)(3) non-profit organization (EIN 84-2616395).  Your donations are tax-deductible to the full extent of the law.
        </p>
      </div>
    </div>	
  </div>
</div>



<div class="w-100 ph4-ns ph3">
  <div class="measure-wide center pb4">
    {{ .Content }}
  </div>
</div>


<script>
    var donationAmount = "plan_FN3hkJAGUgYKpX";
    var customAmount;
    var customDonation = document.getElementById('custom');
    customDonation.onkeypress = function(e) {
      const notNumber = e.which < 48 || e.which > 57
      const notDelete = e.which !== 8
      if (notNumber && notDelete)
        e.preventDefault()
    }

    customDonation.addEventListener('input', function(e) {
      var dollars = e.target.value;
      donationAmount = dollars*100;
      customAmount = dollars*100;
    })

    customDonation.addEventListener('focus', function(e) {
      var tmpStr = e.target.value;
      e.target.value = '';
      e.target.value = tmpStr;
      donationAmount = customAmount;
    })

    function setAmount(amount) {
      // deselect selected
      var selected = document.getElementById(donationAmount) || document.getElementById('custom');
      if (selected) {
        if (selected.id == 'custom')
          selected.className = "fw4 pa0 ma0 f3 w3 db ba b--moon-gray pa3 br0 pointer"
        else
          selected.className = "button  pa0 br0 ba b--moon-gray ph3 pv3 pointer hover-b--blue"
      }

      // highlight choice and set amount
      var button = document.getElementById(amount);
      if (amount == 'custom') {
        button.className = "fw4 pa0 ma0 f3 w3 db ba b--blue bg-blue-50 pa3 br0 pointer"
        donationAmount = customAmount;
      }
      else {
        button.className = "button pa0 br0 ba b--blue bg-blue-50 ph3 pv3 pointer";
        donationAmount = amount;
      }
    }
  </script>

  <script src="https://checkout.stripe.com/checkout.js"></script>

  <script>

    function token(token) {
      var request = new XMLHttpRequest();
      request.onload = function() {
        if (request.status === 200) {
          window.location = '/pay/thanks'
        } else {
          window.location = '/pay/error'
        }
      }
      request.open('POST', 'https://donate2.nycmesh.net/donate', true);
      request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      request.send(JSON.stringify({
        stripeToken: token,
        donationAmount: donationAmount
      }));
    }

    var stripeConfig = {
      key: 'pk_live_srTdi5OfErTSw5BGXqEkY9C1',
      image: '/img/logo.svg',
      locale: 'auto',
      billingAddress: true,
      token: token
    }

    var handler = StripeCheckout.configure(stripeConfig);

    var payButton = document.getElementById('payButton');
    payButton.addEventListener('click', function(e) {

      if (parseInt(donationAmount) && donationAmount > 0) {
        handler = StripeCheckout.configure(stripeConfig);
        handler.open({
          name: 'NYC Mesh',
          description: 'Donation',
          amount: donationAmount
        });
      }

      else if (donationAmount == 'twenty-monthly')
        handler.open({
          name: 'NYC Mesh',
          description: 'Monthly Donation',
          amount: 2000
        });

      else if (donationAmount == 'plan_FN3hkJAGUgYKpX')
        handler.open({
          name: 'NYC Mesh',
          description: 'Monthly Donation',
          amount: 3000
        });

      else if (donationAmount == 'fifty-monthly')
        handler.open({
          name: 'NYC Mesh',
          description: 'Monthly Donation',
          amount: 5000
        });

      else {
        alert('Please enter a valid donation amount.')
      }

      e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      handler.close();
    });
  </script>
{{ end }}
